.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  transition: transform 0.5s;
}

.hover-card:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.pokeImg {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.winner {
  border: 3px solid green;
  transform: scale(1.2);
}

.loser {
  border: 3px solid red;
  transform: scale(1.2);
}

.img-border {
  border: 2px solid rgb(87, 87, 92);
}
