.containerGame{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(./images/game.webp);
    background-size: cover;
}

.containerGame__Info{
    color: darkblue;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}